# Core
fastapi
uvicorn

# Database and Env
asyncpg
python-dotenv

# Auth and Security
python-jose[cryptography]
passlib[bcrypt]
bcrypt

# File handling and UI
python-multipart
Pillow

# Utils
httpx
pydantic[email]
email-validator
requests
pytz
