# Core
fastapi
uvicorn

# Database and Env
asyncpg==0.30.0
Pillow==11.1.0
supabase==2.27.3
python-dotenv

# Auth and Security
python-jose[cryptography]
passlib[bcrypt]
bcrypt

# File handling and UI
python-multipart
Pillow

# Utils
httpx
pydantic[email]>=2.0.0
email-validator
requests
pytz
